.app-container {
    height: 100vh;
    width: 100%;

    background-color: rgb(2, 24, 24);
    color: lightblue;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note-data-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;

}

.noteList {
    height: 100%;
    width: 50%;
}

.singleNote {
    height: 100%;
    width: 50%;
}