<div class="single-note-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" action="">
    <div class="title-contianer">
      <input
        id="title"
        [formControl]="title"
        type="text"
        formControlName="title"
        class="input-title-box"
        [placeholder]="titleHolder"
        [(ngModel)]="titleVal"
      />
    </div>
    <div class="note-contianer">
      <textarea
        id="note"
        [formControl]="note"
        name="note"
        cols="30"
        rows="10"
        class="input-note-box"
        [placeholder]="noteHolder"
        [(ngModel)]="noteVal"
      ></textarea>
    </div>
    <div class="btns">
        <button id="submit" type="submit">
            Post
        </button>
        <button type="button" *ngIf="noteSelected" (click)="revert()">Revert</button>
        <button type="reset" *ngIf="noteSelected" (click)="clearInputs()">New Post</button>
    </div>
  </form>
</div>
